<div class="container">
  <div class="row align-items-center mt-5">
    <div class="col">
      <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="getMFEToken(); switchValue = 1">Change Address</button>
        <button type="button" class="btn btn-secondary" (click)="getMFEToken(); switchValue = 2">Add fund</button>
        <button type="button" class="btn btn-secondary" (click)="getMFEToken(); switchValue = 3">Switch fund</button>
        <button type="button" class="btn btn-secondary" (click)="getMFEToken(); switchValue = 4">Redeem fund</button>
      </div>
    </div>
  </div>
</div>

<div [ngSwitch]="switchValue">
  <div *ngSwitchCase="1">
    <user-component jwt="{{token}}"></user-component>
  </div>
  <div *ngSwitchCase="2">
    <add-form jwt="{{token}}"></add-form>
  </div>
  <div *ngSwitchCase="3">
    <switch-form jwt="{{token}}"></switch-form>
  </div>
  <div *ngSwitchCase="4">
    <redeem-form jwt="{{token}}"></redeem-form>
  </div>
</div>

