<div class="container">
  <div class="row align-items-center mt-5">
    <div class="col">
      <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="validate(); switchValue = 1">Change Address</button>
        <button type="button" class="btn btn-secondary" (click)="validate(); switchValue = 2">Add</button>
        <button type="button" class="btn btn-secondary" (click)="validate(); switchValue = 3">Switch</button>
        <button type="button" class="btn btn-secondary" (click)="validate(); switchValue = 4">Redeem</button>
      </div>
    </div>
  </div>
</div>

<div [ngSwitch]="switchValue">
  <div *ngSwitchCase="1">
    <user-component jwt="{{token}}" cssClass="form-control"></user-component>
  </div>
  <div *ngSwitchCase="2">
    <add-form jwt="{{token}}"></add-form>
  </div>
  <div *ngSwitchCase="3">
    <switch-form jwt="{{token}}"></switch-form>
  </div>
  <div *ngSwitchCase="4">
    <redeem-form jwt="{{token}}"></redeem-form>
  </div>
</div>

