<!-- <my-component
  #test
  first="Juan"
  last="dela Cruz">
  <br><br>
  <div>
    <button type="button" (click)="this.onTest()">Button from NG</button>
  </div>
</my-component>
<br><br>
<button type="button" (click)="refresh();">Refresh page</button> -->


<!-- <div *ngFor="let u of users" class="parent">
  <span>ID: {{ u.id }}</span>
  <h4>Name: {{ u.name }}</h4>
  <p>Country: {{ u.country }}</p>

  <button-component #user [user_id]="u.id">Click me!</button-component>
</div> -->
<!--
<br>
<br> -->

<!-- <div *ngFor="let d of datas" class="parent">
  <p><strong>Name: </strong>{{ d.name }}</p>
  <p><strong>Email: </strong>{{ d.email }}</p>
  <p><strong>Website: </strong>{{ d.website }}</p>
</div>

<br>
<p>RESULT: </p>
<pre>
  <code>
    {{this.datas | json}}
  </code>
</pre>
-->

<!-- STENCIL JS -->
<!-- <add-form text="Juan dela Cruz" (emitter)="getEmittedValue($event)"></add-form> -->

<!-- LIT WEB COMPONENTS -->
<!-- <my-element></my-element>
<simple-greeting name="Juan"></simple-greeting> -->

